<h1>Perks</h1>

<aggd-data-filters [filter]="filterObject$ | async" (changed)="applyFilters($event)" [config]="{ heroFilter:true, searchFilter: true, gearSlotFilter: true }"></aggd-data-filters>

<mat-expansion-panel class="create-form">
    <mat-expansion-panel-header>
        <mat-panel-title>
            New Perk
        </mat-panel-title>
    </mat-expansion-panel-header>

    <aggd-perks-edit-form #perkEditorForm="perkEditorForm" [value]="{}"></aggd-perks-edit-form>

    <mat-action-row>
        <button mat-button color="primary"
            (click)="create(perkEditorForm.formValue.value, perkEditorForm)">Create</button>
    </mat-action-row>
</mat-expansion-panel>

<mat-accordion multi="false">
    <mat-expansion-panel *ngFor="let perk of perkService.filteredEntities$ | async" (opened)="selectedPerk = perk.id">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ perk.title }}
            </mat-panel-title>
            <mat-panel-description class="description">
                <span [innerHTML]="perk.description | highlight"></span>
            </mat-panel-description>
            <mat-panel-description class="shot-description">
                {{ (perk.heroes || []).join(', ') }}
            </mat-panel-description>
            <mat-panel-description class="shot-description">
                {{ (perk.gear || []).join(', ') | uncamelcase }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <ng-container *ngIf="selectedPerk == perk.id">
            <aggd-perks-edit-form #perksEditorForm="perkEditorForm" [value]="perk">
            </aggd-perks-edit-form>

            <mat-action-row>
                <button mat-button color="secondary" (click)="delete(perksEditorForm.formValue.value)">Delete</button>
                <button mat-button color="primary" (click)="save(perksEditorForm.formValue.value)">Save</button>
            </mat-action-row>
        </ng-container>
    </mat-expansion-panel>
</mat-accordion>