<form [formGroup]="formValue">
  <mat-form-field appearance="fill" *ngIf="!!formValue.getRawValue().id">
    <mat-label>ID</mat-label>
    <input formControlName="id" matInput [value]="value.id">
  </mat-form-field>

  <div class="hero-container">
    <mat-form-field appearance="fill" class="hero-selector">
      <mat-label>Hero</mat-label>
      <mat-select formControlName="heroes" multiple>
        <mat-option [value]="null">Not set</mat-option>
        <mat-option [value]="'*'">*</mat-option>
        <mat-option *ngFor="let hero of heroService.entities$ | async" [value]="hero.id">
          {{hero.name}}
        </mat-option>
      </mat-select>
      <mat-hint class="titlecase" *ngIf="appearsForHero(formValue.getRawValue(), gear).length > 0">
        Appears on gear for {{ appearsForHero(formValue.getRawValue(), gear).join(', ') }}
      </mat-hint>
    </mat-form-field>
    <div class="hero-buttons">
      <div class="title">Limit to</div>
      <button mat-button color="primary" (click)="setPerkForAll()">All</button>
      <button mat-button color="primary" (click)="setPerkForSelect(appearsForHero(formValue.getRawValue(), gear))">Occurrences</button>
    </div>
  </div>


  <mat-form-field appearance="fill">
    <mat-label>Set Title</mat-label>
    <input formControlName="title" matInput [value]="value.title">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput [value]="value.description">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gear Slots</mat-label>
    <mat-select formControlName="gear" multiple>
      <mat-option [value]="null">Not set</mat-option>
      <mat-option [value]="'melee'">Melee</mat-option>
      <mat-option [value]="'ranged'">Ranged</mat-option>
      <mat-option [value]="'defense'">Defense</mat-option>
      <mat-option [value]="'heroic'">Heroic</mat-option>
      <mat-option [value]="'majorArtifact'">Major Artifact</mat-option>
      <mat-option [value]="'minorArtifact'">Minor Artifact</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-checkbox color="warn" formControlName="gearSpecific">Gear Specific</mat-checkbox>
  <mat-checkbox color="warn" formControlName="slot1Enabled">Limit to Slot 1 <span class="occurrences">({{onGearCount(formValue.getRawValue(), gear, ['perks1'])}} pieces)</span></mat-checkbox>
  <mat-checkbox color="warn" formControlName="slot2Enabled">Limit to Slot 2 <span class="occurrences">({{onGearCount(formValue.getRawValue(), gear, ['perks2'])}} pieces)</span></mat-checkbox>
  <mat-checkbox color="warn" formControlName="slot3Enabled">Limit to Slot 3 <span class="occurrences">({{onGearCount(formValue.getRawValue(), gear, ['perks3'])}} pieces)</span></mat-checkbox>
  <mat-checkbox color="warn" formControlName="isReady">Is Ready?</mat-checkbox>

</form>