<form [formGroup]="formValue">
  <mat-form-field appearance="fill" *ngIf="!!formValue.getRawValue().id">
    <mat-label>ID</mat-label>
    <input formControlName="id" matInput />
  </mat-form-field>


  <mat-form-field appearance="fill">
    <mat-label>Hero</mat-label>
    <mat-select formControlName="heroId">
      <mat-option [value]="null">Not set</mat-option>
      <mat-option [value]="'*'">*</mat-option>
      <mat-option *ngFor="let hero of heroService.entities$ | async" [value]="hero.id">
        {{hero.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput [value]="value.name">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Gear Slot</mat-label>
    <mat-select formControlName="gearType">
      <mat-option [value]="null">Not set</mat-option>
      <mat-option [value]="'melee'">Melee</mat-option>
      <mat-option [value]="'ranged'">Ranged</mat-option>
      <mat-option [value]="'defense'">Defense</mat-option>
      <mat-option [value]="'heroic'">Heroic</mat-option>
      <mat-option [value]="'majorArtifact'">Major Artifact</mat-option>
      <mat-option [value]="'minorArtifact'">Minor Artifact</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Rarity</mat-label>
    <mat-select formControlName="rarity">
      <mat-option [value]="'epic'">Epic</mat-option>
      <mat-option [value]="'legendary'">Legendary</mat-option>
      <mat-option [value]="'exotic'">Exotic</mat-option>
    </mat-select>
  </mat-form-field>


  <h3>Perks</h3>

  <mat-checkbox color="warn" [formControl]="allowAnyPerkField">Allow any perk</mat-checkbox>
  <mat-checkbox color="warn" [formControl]="allowAnyPerkSlotField">Allow any slot</mat-checkbox>



  <div class="perk-picker-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ !!formValue.value.perks1 ? 'Perk slot 1' : 'Select a perk'}}</mat-label>
      <agg-perk-select formControlName="perks1" [hero]="activeHeroId$ | async" [gearSlot]="activeGearSlot$ | async" [perkSlot]="1"
        [allowAny]="allowAnyPerkField.value" [allowAnyPerkSlot]="allowAnyPerkSlotField.value" [allowMultiple]="true">
      </agg-perk-select>
    </mat-form-field>
  </div>


  <div class="perk-picker-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ !!formValue.value.perks2 ? 'Perk slot 2' : 'Select a perk'}}</mat-label>
      <agg-perk-select formControlName="perks2" [hero]="activeHeroId$ | async" [gearSlot]="activeGearSlot$ | async" [perkSlot]="2"
        [allowAny]="allowAnyPerkField.value" [allowAnyPerkSlot]="allowAnyPerkSlotField.value" [allowMultiple]="true">
      </agg-perk-select>
    </mat-form-field>
  </div>

  <div class="perk-picker-container">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ !!formValue.value.perks3 ? 'Perk slot 3' : 'Select a perk'}}</mat-label>
      <agg-perk-select formControlName="perks3" [hero]="activeHeroId$ | async" [gearSlot]="activeGearSlot$ | async" [perkSlot]="3"
        [allowAny]="allowAnyPerkField.value" [allowAnyPerkSlot]="allowAnyPerkSlotField.value" [allowMultiple]="true">
      </agg-perk-select>
    </mat-form-field>
  </div>

  <div>
    <h3>Sources</h3>
    <ng-container formArrayName="sources">
      <div style="display: flex; flex-direction: row;" *ngFor="let _ of sources.controls; index as idx">
        <ng-container [formGroupName]="idx">

          <mat-form-field appearance="fill">
            <mat-label>type</mat-label>
            <mat-select formControlName="type">
              <mat-option [value]="null">not set</mat-option>
              <mat-option [value]="'Mission Reward'">Mission Reward</mat-option>
              <mat-option [value]="'Drop'">Drop</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>from</mat-label>
            <mat-select formControlName="from">
              <mat-option [value]="null">not set</mat-option>
              <mat-option [value]="'Daily Faction Mission'">Daily Faction Mission</mat-option>
              <mat-option [value]="'Elite Heroic Hive'">Elite Heroic Hive</mat-option>
              <mat-option [value]="'Elite Hive'">Elite Hive</mat-option>
              <mat-option [value]="'Elite Vault'">Elite Vault</mat-option>
              <mat-option [value]="'Elite Villain Sector'">Elite Villain Sector</mat-option>
              <mat-option [value]="'Mega Hive'">Mega Hive</mat-option>
              <mat-option [value]="'Priority Mission'">Priority Mission</mat-option>
              <mat-option [value]="'Tachyon Rifts'">Tachyon Rifts</mat-option>
              <mat-option [value]="'Global'">Global</mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-icon-button (click)="removeSource(idx)">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
      </div>
    </ng-container>
    <button mat-icon-button (click)="addSource()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>