.mat-expansion-panel-header-title,
.mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-expansion-panel + mat-expansion-panel {
  border-top: solid 1px #0d121b;
}