@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import './styles/expansion-panel.scss';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.spacer { flex: 1 }

mat-expansion-panel.create-form {
  margin-bottom: 20px;
}

mat-panel-title.description,
mat-panel-description.description {
  flex: 4;
  align-self: center;
}

mat-panel-title.shot-description,
mat-panel-description.shot-description {
  flex: 1;
  text-transform: capitalize;
}